<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation</title>
</head>
<body>
<div>
    <h2>Nouveau mot de passe</h2>
    <form th:action="@{/api/auth/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <div>
            <label>Mot de passe :</label>
            <input type="password" name="password" required minlength="8">
        </div>
        <button type="submit">Valider</button>
    </form>
</div>
</body>
</html>